In [1]:
# Dependencies and Setup
%matplotlib notebook

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as st
import seaborn as sns
sns.set_style('white')

In [2]:
# Codes for each Data Frame

Data_path_df = pd.read_csv('Data/National_Data.csv')

# Pulling Data to verify source 
Data_path_df.head()

,yearid,fipscode,raceid,ageid,genderid,educationid,indicatorid,miscid,datasourceid,estimateid,SuppressID,datasetid,GeoLevel,Estimate,SeEstimate,LowerLimit,UpperLimit
0,1980,-1,0,5,0,0,1,0,30,61,0,40,National,1,0.1,0.9,1.2
1,1980,-1,0,5,0,0,1,0,30,101,0,40,National,915,76,764,1065
2,1980,-1,0,6,0,0,1,0,3,61,0,3,National,5.4,0.3,4.8,6
3,1980,-1,0,6,0,0,1,0,3,101,0,3,National,2337,143,2054,2621
4,1980,-1,0,6,0,0,1,0,30,61,0,40,National,5.4,0.3,4.8,6

In [18]:
# Setting up the value data set that will help us class the Diabetes per Gender

Data_gender_df = Data_path_df.loc[:,["yearid", "ageid", "genderid", "datasetid", "estimateid", "Estimate"]]
    
Data_gender_df.head()

   yearid  ageid  genderid  datasetid  estimateid Estimate
0    1980      5         0         40          61        1
1    1980      5         0         40         101      915
2    1980      6         0          3          61      5.4
3    1980      6         0          3         101     2337
4    1980      6         0         40          61      5.4

In [99]:
# Pulling Total of Diabetes Cases and the breakdown 

male_gender_porcentage_df = Data_gender_df.loc[(Data_path_df["yearid"] >= 2000) & (Data_path_df["ageid"]== 99) & \
                                  (Data_path_df["genderid"]== 1) & (Data_path_df["datasetid"]== 3) & \
                                  (Data_path_df["estimateid"]== 61)].dropna()
    
male_gender_porcentage_df = male_gender_porcentage_df.reset_index()
male_gender_porcentage_df
    
    #Male_gender_df =  Male_gender_df.reset_index()
    #Male_gender_df

    index  yearid  ageid  genderid  datasetid  estimateid Estimate
0    1366    2000     99         1          3          61      4.5
1    1433    2001     99         1          3          61      4.8
2    1500    2002     99         1          3          61        5
3    1567    2003     99         1          3          61        5
4    1634    2004     99         1          3          61      5.4
5    1701    2005     99         1          3          61      5.6
6    1768    2006     99         1          3          61      5.8
7    1835    2007     99         1          3          61      5.8
8    1902    2008     99         1          3          61      6.2
9    1969    2009     99         1          3          61      7.1
10   2036    2010     99         1          3          61      7.3
11   2103    2011     99         1          3          61      6.9
12   2170    2012     99         1          3          61      6.9
13   2237    2013     99         1          3          61      7.4
14   2304    2014     99         1          3          61      7.2
15   2371    2015     99         1          3          61      7.6
16  27294    2016     99         1          3          61      7.5
17  28225    2017     99         1          3          61      7.9

In [100]:
female_gender_porcentage_df = Data_gender_df.loc[(Data_path_df["yearid"] >= 2000) & (Data_path_df["ageid"]== 99) & \
                                  (Data_path_df["genderid"]== 2) & (Data_path_df["datasetid"]== 3) & \
                                  (Data_path_df["estimateid"]== 61)].dropna()
    
female_gender_porcentage_df = female_gender_porcentage_df.reset_index()
female_gender_porcentage_df

    index  yearid  ageid  genderid  datasetid  estimateid Estimate
0    1370    2000     99         2          3          61      4.3
1    1437    2001     99         2          3          61      4.7
2    1504    2002     99         2          3          61      4.6
3    1571    2003     99         2          3          61      4.8
4    1638    2004     99         2          3          61      5.2
5    1705    2005     99         2          3          61      5.6
6    1772    2006     99         2          3          61        6
7    1839    2007     99         2          3          61      5.9
8    1906    2008     99         2          3          61      6.4
9    1973    2009     99         2          3          61      6.6
10   2040    2010     99         2          3          61      6.6
11   2107    2011     99         2          3          61      6.6
12   2174    2012     99         2          3          61        7
13   2241    2013     99         2          3          61        7
14   2308    2014     99         2          3          61      6.9
15   2375    2015     99         2          3          61      7.2
16  27298    2016     99         2          3          61      7.1
17  28229    2017     99         2          3          61      6.7

In [107]:
#Combine both genders in a filtered table

Gender_porcentage_graph = pd.merge(male_gender_porcentage_df,female_gender_porcentage_df, how='outer')
Gender_porcentage_graph_df = Gender_porcentage_graph.loc[:,["genderid", "Estimate"]]
Gender_porcentage_graph_df.head()

   genderid Estimate
0         1      4.5
1         1      4.8
2         1        5
3         1        5
4         1      5.4

In [110]:
#An error was not letting me pull the plot because "Estimate" was showing as Object. Now with the conversion of "Estimate" to float Plot is successfuly showing.
Gender_porcentage_graph_df['Estimate'] = pd.to_numeric(Gender_porcentage_graph_df['Estimate'])
Gender_porcentage_graph_df.dtypes

genderid      int64
Estimate    float64
dtype: object

In [101]:
# Pulling Total of Diabetes Cases and the breakdown by every 1,000 

male_gender_totals_df = Data_gender_df.loc[(Data_gender_df["yearid"] >= 2000) & (Data_gender_df["ageid"]== 99) & \
                                  (Data_gender_df["genderid"]== 1) & (Data_gender_df["datasetid"]== 3) & \
                                  (Data_gender_df["estimateid"]== 101)].dropna()
    
male_gender_totals_df = male_gender_totals_df.reset_index()
male_gender_totals_df

    index  yearid  ageid  genderid  datasetid  estimateid Estimate
0    1367    2000     99         1          3         101     5952
1    1434    2001     99         1          3         101     6472
2    1501    2002     99         1          3         101     6856
3    1568    2003     99         1          3         101     7023
4    1635    2004     99         1          3         101     7629
5    1702    2005     99         1          3         101     7957
6    1769    2006     99         1          3         101     8291
7    1836    2007     99         1          3         101     8447
8    1903    2008     99         1          3         101     9018
9    1970    2009     99         1          3         101    10538
10   2037    2010     99         1          3         101    10884
11   2104    2011     99         1          3         101    10420
12   2171    2012     99         1          3         101    10401
13   2238    2013     99         1          3         101    11176
14   2305    2014     99         1          3         101    10939
15   2372    2015     99         1          3         101    11674
16  27295    2016     99         1          3         101    11618
17  28227    2017     99         1          3         101    12295

In [102]:
female_gender_totals_df = Data_gender_df.loc[(Data_gender_df["yearid"] >= 2000) & (Data_gender_df["ageid"]== 99) & \
                                  (Data_gender_df["genderid"]== 2) & (Data_gender_df["datasetid"]== 3) & \
                                  (Data_gender_df["estimateid"]== 101)].dropna()
    
female_gender_totals_df = female_gender_totals_df.reset_index()
female_gender_totals_df

    index  yearid  ageid  genderid  datasetid  estimateid Estimate
0    1371    2000     99         2          3         101     6100
1    1438    2001     99         2          3         101     6642
2    1505    2002     99         2          3         101     6632
3    1572    2003     99         2          3         101     7074
4    1639    2004     99         2          3         101     7612
5    1706    2005     99         2          3         101     8366
6    1773    2006     99         2          3         101     9029
7    1840    2007     99         2          3         101     8950
8    1907    2008     99         2          3         101     9791
9    1974    2009     99         2          3         101    10129
10   2041    2010     99         2          3         101    10245
11   2108    2011     99         2          3         101    10318
12   2175    2012     99         2          3         101    11064
13   2242    2013     99         2          3         101    11121
14   2309    2014     99         2          3         101    11014
15   2376    2015     99         2          3         101    11676
16  27299    2016     99         2          3         101    11577
17  28231    2017     99         2          3         101    10905

In [71]:
Gender_totals_graph = pd.merge(male_gender_totals_df,female_gender_totals_df, how='outer')
Gender_totals_graph_df = Gender_totals_graph.loc[:,["genderid", "Estimate"]]
Gender_totals_graph_df.head()

   genderid Estimate
0         1     5907
1         1     6425
2         1     6826
3         1     6990
4         1     7541

In [109]:
#An error was not letting me pull the plot because "Estimate" was showing as Object. Now with the conversion of "Estimate" to float Plot is successfuly showing.
Gender_totals_graph_df['Estimate'] = pd.to_numeric(Gender_totals_graph_df['Estimate'])
Gender_totals_graph_df.dtypes

genderid    int64
Estimate    int64
dtype: object

In [85]:
#Gender_graph = male_gender_df.plot(kind="bar", figsize=(20,3)) + female_gender_df.plot(kind="bar", figsize=(20,3))

#Gender_graph.set_xticklabels(male_gender_df["Estimate"], rotation=45)

years = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
Male_diabetes_totals = Gender_totals_graph_df.loc[(Gender_totals_graph_df["genderid"]== 1) & (Gender_totals_graph_df["Estimate"])]
Female_diabetes_totals = Gender_totals_graph_df.loc[(Gender_totals_graph_df["genderid"]== 2) & (Gender_totals_graph_df["Estimate"])]


plt.plot(years, Male_diabetes_totals, color="green", label="Male Totals")
plt.plot(years, Female_diabetes_totals, color="blue", label="Female Totals")

#plt.title("Diabetes by Gender")
#plt.ylabel("Totals")
#plt.xlabel("Years")

plt.tight_layout()
plt.show()

ValueError: x and y must have same first dimension, but have shapes (18,) and (7, 2)

In [98]:
Gender_totals_graph_df

    genderid  Estimate
0          1      5907
1          1      6425
2          1      6826
3          1      6990
4          1      7541
5          1      7896
6          1      8204
7          1      8391
8          1      8934
9          1     10447
10         1     10804
11         1     10342
12         1     10357
13         1     11124
14         1     10907
15         1     11538
16         1     11538
17         1     12242
18         2      5956
19         2      6581
20         2      6565
21         2      7022
22         2      7585
23         2      8290
24         2      8906
25         2      8882
26         2      9717
27         2     10043
28         2     10170
29         2     10247
30         2     10961
31         2     11048
32         2     10965
33         2     11623
34         2     11552
35         2     10807

In [111]:
#Gender_graph = male_gender_df.plot(kind="bar", figsize=(20,3)) + female_gender_df.plot(kind="bar", figsize=(20,3))

#Gender_graph.set_xticklabels(male_gender_df["Estimate"], rotation=45)

years = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
Male_diabetes_porcentage = Gender_porcentage_graph_df.loc[(Gender_porcentage_graph_df["genderid"]== 1) & (Gender_porcentage_graph_df["Estimate"])]
Female_diabetes_porcentage = Gender_porcentage_graph_df.loc[(Gender_porcentage_graph_df["genderid"]== 2) & (Gender_porcentage_graph_df["Estimate"])]


plt.plot(years, Male_diabetes_porcentage, color="green", label="Male %")
plt.plot(years, Female_diabetes_porcentage, color="blue", label="Female %")

plt.title("Diagnosed Diabetes, Gender, All Ages, Crude Percentage, National")
plt.ylabel("Porcentage")
plt.xlabel("Years")

plt.tight_layout()
plt.show()

In [104]:
Gender_porcentage_graph_df

    genderid  Estimate
0          1       6.1
1          1       6.6
2          1       6.9
3          1       6.8
4          1       7.3
5          1       7.5
6          1       7.7
7          1       7.8
8          1       8.2
9          1       9.5
10         1       9.7
11         1       9.2
12         1       9.2
13         1       9.7
14         1       9.4
15         1       9.9
16         1       9.8
17         1      10.3
18         2       5.7
19         2       6.2
20         2       6.1
21         2       6.3
22         2       6.8
23         2       7.4
24         2       7.8
25         2       7.7
26         2       8.3
27         2       8.5
28         2       8.6
29         2       8.6
30         2       9.0
31         2       9.0
32         2       8.8
33         2       9.3
34         2       9.1
35         2       8.5

In [96]:
# Create a plot - for the dataset (https://seaborn.pydata.org/generated/seaborn.lineplot.html)

years = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
Male_diabetes_totals = Gender_totals_graph_df.loc[(Gender_totals_graph_df["genderid"]== 1) & (Gender_totals_graph_df["Estimate"])]
#Female_diabetes_totals = Gender_totals_graph_df.loc[(Gender_totals_graph_df["genderid"]== 2) & (Gender_totals_graph_df["Estimate"])]
#Male_diabetes_porcentage = Gender_porcentage_graph_df.loc[(Gender_porcentage_graph_df["genderid"]== 1) & (Gender_porcentage_graph_df["Estimate"])]
#Female_diabetes_porcentage = Gender_porcentage_graph_df.loc[(Gender_porcentage_graph_df["genderid"]== 2) & (Gender_porcentage_graph_df["Estimate"])]


plot00= sns.lineplot(data=Male_diabetes_totals, x="yearid", y="Estimate", hue="Gender", ax=axes[1])
axes[0].set_title("Diagnosed Diabetes, Gender, All Ages, Crude Percentage, National")
axes[0].set_xlabel("Year")
axes[0].set_ylabel("Number in 1,000s")
# plt.xticks(rotation="vertical")
plt.tight_layout()

#plt.plot(years, Male_diabetes_porcentage, color="green", label="Male %")
#plt.plot(years, Female_diabetes_porcentage, color="blue", label="Female %")

#plt.title("Diagnosed Diabetes, Gender, All Ages, Crude Percentage, National")
#plt.ylabel("Porcentage")
#plt.xlabel("Years")


#plot01= sns.lineplot(Gender_porcentage_graph_df, x="years", y="Estimate", hue="Gender",ax=axes[2])
#axes[1].set_title("Diagnosed Diabetes by Race-Ethnicity in 18+ Years")
#axes[1].set_xlabel("Year")
#axes[1].set_ylabel("Percentage")
# plt.xticks(rotation="vertical")
#plt.tight_layout()

plt.show()

ValueError: Could not interpret value `yearid` for parameter `x`